@model WebApplication1.Models.Role
@{
    ViewData["Title"] = "Edit Role";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="roleId" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Quay lại</a>
</form>
